<ion-card>
  <ion-card-content>
    <div>  
      <ion-datetime-button datetime="datetimeSpendMonthlyChart" slot="end"> </ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime
            id="datetimeSpendMonthlyChart"
            presentation="month-year"
            [value]="dateFilter.toISOString()"
            [showDefaultButtons]="true"
            (ionChange)="handleDateChange($event)"
            >
          </ion-datetime>
        </ng-template>
      </ion-modal>
    </div>
    <div class="chart-container">
      <canvas  id="spendMonthlyGroupChart" >{{ chart }}</canvas>
    </div>    
  </ion-card-content>
</ion-card>
